<%= form_for(:subscribe) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <p>
      <%= f.submit value: 'subscribe' %>
    </p>
  </div>
<% end %>
