<h1>About Feya Candles</h1>

<p>Inspired by the love of family and the love of food, Feya began in Lincoln, NE as a way to honor my aunt and grandmother who taught me how to share happiness and love by making great food.  Now their love may live on forever – with every Feya purchase we hand deliver a meal to a child in need.  Join me as we feed the World!</p>
<p>
  <div class='center-text'>
    – Sarah Mullins, Chief Candle Lady
  </div>
</p>

<div id="aboutvid">
  <p>
    <iframe src="//www.youtube.com/embed/lC-SxAHQmeo" frameborder="0" allowfullscreen>
    </iframe>
  </p>
</div>
<p>
  <a href="http://journalstar.com/niche/neighborhood-extra/news/candle-maker-shines-the-light-on-world-hunger/article_00619ea9-e7e3-5d40-8218-b2580c783264.html" target="_blank">Feya Candle featured in Lincoln Journal Star
  </a>
<p>
<p>
  <a href="http://www.nebraskaentrepreneurship.com/featured-content-gallery/lincoln-soy-candle-company-makes-giving-a-priority/" target="_blank">Nebraska Entrepreneurship features Feya Candle
  </a>
</p>
