<h1>Administrative Dashboard</h1>

<p>Please choose the module that you'd like to edit.</p>

<p>
  <%= link_to 'Products Index', products_path %>
</p>
<p>
  <%= link_to 'Store Locations Index', locations_path %>
</p>
