<!--TODO remove <center> tag - put in css -->

<p><center>Every purchase changes a life for the better!  Little by little, we can change the world!</center></p>
<div id="givsec">
  <div class="givepic">
    <div class="givepiccontent">
      <%= image_tag('http://placekitten.com/g/300/200') %>
    </div>
  </div>
  <div class="givepic">
    <div class="givepiccontent">
      <%= image_tag('http://placekitten.com/g/300/200') %>
    </div>
  </div>
  <div class="givepic">
    <div class="givepiccontent">
      <%= image_tag('http://placekitten.com/g/300/200') %>
    </div>
  </div>
</div>

<div id="missionsec">
  <div id="missiontext">
    <h2>Mission Statement</h2>
    <div id="missionsubtext">
      <h3>Feya Candles gives a meal to someone in need with every candle sold.<br />  Through these candles, we will feed the world and make it a better place.</h3>
    </div>
  </div>
</div>

<div id="storesec">
  <div id="storesecloc">
    <h2>Store Locator</h2>
    <p>To purchase Feya Candles, find a store near you.</p>
  </div>
  <div id="storesecsuggest">
    <h2>Suggest a Store</h2>
    <p>Encourage your favorite store to carry Feya Candles.</p>
  </div>
</div>

