<div id="givsec">
  <div class="givepic">
    <div class="givepiccontent">
      <%= image_tag('http://placekitten.com/g/300/200') %>
    </div>
  </div>
  <div class="givepic">
    <div class="givepiccontent">
      <%= image_tag('http://placekitten.com/g/300/200') %>
    </div>
  </div>
  <div class="givepic">
    <div class="givepiccontent">
      <%= image_tag('http://placekitten.com/g/300/200') %>
    </div>
  </div>
</div>

<div id="missionsec">
  <div id="missiontext">
    MISSION STATEMENT
  </div>
</div>

<div id="storesec">
  <div id="storesecloc">
    STORE LOCATOR
  </div>
  <div id="storesecsuggest">
    SUGGEST A STORE
  </div>
</div>

