<div class="welcome">
  <h1>Volunteer Information</h1>
  <p>At Feya, we have a philosophy that if we make our living out of helping others, then we’ll always have work to do We invite you to join us!
  </p>
</div>
<div id="volunteerpic">

  <%= image_tag('/assets/playful.jpg') %>
  <%= image_tag('/assets/girl_boy.jpg')%>
</div>
  <p>If you'd like more information on volunteering with Feya, please complete the form below.
  </p>

<%= render "volunteer_contact_form" %>
