<h1>Volunteer Information</h1>

<div id="volunteer">
  <p>At Feya, we have a philosophy that if we make our living out of helping others, then we’ll always have work to do We invite you to join us!
  </p>
  <%= image_tag('/assets/playful.jpg') %>
  <%= image_tag('/assets/two_kids.jpg')%>
  <div class="cf">
  </div>
  <p>If you'd like more information on volunteering with Feya, please complete the form below.</p>
</div>

INSERT VOLUNTEER CONTACT FORM HERE