<h1>Wholesale Information</h1>

<p>If you are a business owner and are interested in carrying Feya Candles in your store, please complete the form below, and we will be in touch!</p>

INSERT WHOLESALE CONTACT FORM HERE