<h3>Hello, <%= @contact.name %>!</h3>

<p>==============================================</p>

<p>We have received your inquiry to volunteer with Feya Candles. We will be in touch with more information.</p>

<p>Thank you for your interest in Feya Candles. Have a great day!</p>