<h3>Hello, <%= @contact.name %></h3>

<p>==============================================</p>

<p>We have received your suggestion for a potential new Feya Candle retailer and will take it into consideration as we look to grow our business.</p>

<p>Thank you for your interest in Feya Candles. Have a great day!</p>