<h3>Hello, Sarah!</h3>

<p>==============================================</p>

<p>You have received a wholesale inquiry.</p>

<p>Name: <%= @contact.name %><br />
Company: <%= @contact.company %><br />
Message: <%= simple_format(@contact.message) %></p>

<p><%= link_to("Click here", @url) %> to view full message details, including contact information.</p>

<p>Have a great day!</p>