$textcolor: #524656;
$whitecolor: #ffffff; //background color
$greencolor: #A7c5bd;  //navbar color
$tancolor: #E5DDCB; //footer color
$linkcolor: #222222;

$purplecolor: #524656; //unused color from palette
$redcolor: #Cf4647; //unused color from palette
$orangecolor: #eb7b59; //unused color from palette


$font1: 'Helvetica Neue';
$font2: Helvetica, Arial, sans-serif;

a:link {
  color: $linkcolor;
}

a:visited {
  color: $linkcolor;
}

body {
  font-family: $font1;
  color: $textcolor;
}

.background-white {
  background-color: $whitecolor;
  width: 100%;
}

.cf {
  clear: both;
}

.heightplaceholder { 
  height:100px;
}

#containmargin {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

header {
  @extend .background-white;
  text-align: center;
  image-align: center;
}

header img {
  max-height:300px;
}

header p {
  padding-bottom:20px;
}

#socialbuttons {
  float:right;
}

#socialbuttons li {
  display: inline;
  padding: 5px;
}

nav {
  width: 100%;
  background-color: $greencolor;
  height: 70px;
  text-align: center;
}

.navtab {
  width: 25%;
  float: left;
  background-color:$greencolor;
}

.navlink {
  padding:10px;
}

.navlink a:link {
  color: $whitecolor;
}

.navlink a:visited {
  color: $whitecolor;
}

#givesec {
  @extend .cf;
  @extend .background-white;
  margin: 20px auto;
}

.givepic {
  justify-content: space-between;
  
}

.givepiccontent {
  margin: 20px auto;
}

#missionsec {
  margin: 20px auto;
  @extend .background-white;
  text-align: center;
  background-color: $tancolor;
}

.missionsubtext {
  padding:20px;
  font-style: italic;
}

#storeblockleft {
  margin: 20px auto;
  height: 300px;
  width: 100%;
  background-color: $greencolor;
}

#storeblockright {
  margin: 20px auto;
  height: 300px;
  width: 100%;
  background-color: $greencolor;
}

.storecontent {
  padding: 20px 35px 20px 35px;
}


footer {
  width: 100%;
  background: $tancolor;
  text-align: center;
  margin: 20px auto auto auto;
}

.footsec {   
  width: 100%;
} 


.footcontent {
  padding-top: 10px;
}

