// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin-std {
   margin: 20px auto;
}

.center-text {
  text-align: center;
}

#volunteerpic img{
  width: 100%;
  @extend .margin-std;
}

#locationtab table {
  border-collapse: separate;
  border-spacing: 50px 2px;
}

textarea {
  width: 100%;
  height: 60px;
}

#aboutvid {
  max-width: 560px;
  max-height: 315px;
  margin: 0px auto;
  position: relative;
  padding-bottom: 75%;
  height: 0px;
}
 
#aboutvid iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
 