<div class="welcome">
  <h1>Wholesale Information</h1>

  <p>If you are a business owner and are interested in carrying Feya Candles in your store, please complete the form below, and we will be in touch.</p>
</div>

<div class="givepic">
  <%= image_tag('three_candles.jpg') %>
</div>

<p>| <% @products.each do |product| %>
    <%= link_to(product.name, product_path(product.id)) %> |
   <% end %>
</p>

<% if current_user %>
  <p>Click the product links above to view, edit or delete</p>
  <p><%= link_to 'Add a new Product', new_product_path %></p>
<% end %>

<%= render "/pages/wholesale_contact_form" %>